<p id="notice"><%= notice %></p>

<p>
  <h2><%= @picture.title %></h2>
</p>

<p>
  <%= image_tag @picture.public_url %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
